sams-v1.0/src/main/resources/wsdl/S100040.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="S100040" targetNamespace="http://www.example.org/S100040/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/S100040/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/S100040/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CommonRq" type="tns:S100040Type"></xsd:element>
      <xsd:element name="CommonRs" type="tns:S100040TypeResponse"></xsd:element>

      <xsd:complexType name="S100040Type">
      	<xsd:sequence>
      		<xsd:element name="CommonRqHdr" type="tns:CommonRqHdr"></xsd:element>
      		<xsd:element name="CommonXmlRq" type="tns:CommonXmlRq"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="S100040TypeResponse">
            	<xsd:sequence>
            		<xsd:element name="CommonRsHdr"
            			type="tns:CommonRsHdr">
            		</xsd:element>
            		<xsd:element name="CommonXmlRs" type="tns:CommonXmlRs"></xsd:element>
            	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="CommonRqHdr">
      	<xsd:sequence>
      		<xsd:element name="ChannelId" minOccurs="1"
      			maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">
      					<xsd:maxLength value="40"></xsd:maxLength>
      					<xsd:minLength value="1"></xsd:minLength>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="TransCode" minOccurs="1"
      			maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="6"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="TransDate" minOccurs="1"
      			maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="8"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="TransTime" minOccurs="1"
      			maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="9"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="Version" minOccurs="1" maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">
      					<xsd:minLength value="3"></xsd:minLength>
      					<xsd:maxLength value="10"></xsd:maxLength>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="RqUid" maxOccurs="1" minOccurs="0">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">
      					<xsd:maxLength value="40"></xsd:maxLength>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CommonXmlRq">
      	<xsd:sequence>
      		<xsd:element name="BindEmail" minOccurs="1" maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="1"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="BindMobile" minOccurs="1" maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="1"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="FundAcco" minOccurs="1" maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">
      					<xsd:maxLength value="30"></xsd:maxLength>
      					<xsd:minLength value="1"></xsd:minLength>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>

      		<xsd:element name="TradePassword" minOccurs="1" maxOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:length value="6"></xsd:length>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>


      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="CommonRsHdr">
      	<xsd:sequence>
      		<xsd:element name="Version" minOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">
      					<xsd:minLength value="3"></xsd:minLength>
      					<xsd:maxLength value="10"></xsd:maxLength>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CommonXmlRs">
      	<xsd:sequence>
      		<xsd:element name="RetCode" type="xsd:string"
      			minOccurs="1" maxOccurs="1">
      		</xsd:element>
      		<xsd:element name="RetMsg" type="xsd:string" minOccurs="1"
      			maxOccurs="1">
      		</xsd:element>












      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S100040Request">
    <wsdl:part element="tns:CommonRq" name="Common"/>
  </wsdl:message>
  <wsdl:message name="S100040Response">
    <wsdl:part element="tns:CommonRs" name="Common"/>
  </wsdl:message>
  <wsdl:portType name="S100040">
    <wsdl:operation name="S100040">
      <wsdl:input message="tns:S100040Request"/>
      <wsdl:output message="tns:S100040Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="S100040SOAP" type="tns:S100040">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="S100040">
      <soap:operation soapAction="http://www.example.org/S100040/S100040"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S100040">
    <wsdl:port binding="tns:S100040SOAP" name="S100040SOAP">
      <soap:address location="http://192.168.52.44:7080/sitco/S100040"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>